.wrapper--desktop__title{
   color:brown;
}
.paragraph--single__banner-text{
   font-family: "brownstd";
   font-size: 2em !important;
   color: black;
   width: 400px;
   margin-right: 20px;
   text-align:left;
   margin-top: 1px;
   line-height:90%;
   display: flex;
   flex-direction: column;

}
.paragraph--single__banner-yoeligo{
   font-family: "brownstd";
   font-size: 2em !important;
   color: black;
   width: 400px;
   margin-right: 10px;
   text-align:left;
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;

}
.paragraph--single__banner-comillas{
   display: flex;
   position: initial; 
   width: 100%!important;
   text-align: center;
   color: rgb(223, 91, 91);
   font-size: 6em !important;
   margin-top: -30px;
}
.paragraph--single__banner-comillas-text{
   font-family: "brownstd";
   font-size: 4em !important;
   color: black;
   width: 1100px;
   margin-right: 20px;
   text-align:center;
   margin-top: -170px;
   line-height:90%;
   display: flex;
   flex-direction: column;
}
.paragraph--hr-style {
   border-bottom: 2px solid rgb(252, 13, 13);
   color: rgb(252, 247, 247);
   width: 300px;
   margin-top: -57px;
 }
 .grid-item-title-left{
   position:relative;
   background-color:brown;  
}
.paragraph--grid-item-title-left{
   font-size:50px;
   width: 200px;
   margin-top: 0px;
   margin-left: 200px;
   line-height: normal;
}
.paragraph--grid-item-title-right{
  font-family: 'BrownStd', Helvetica, Arial, sans-serif;
   font-size:40px;
   width: 200px;
   margin-top: 120px;
   margin-left: 150px;
   line-height: normal;
   color:rgb(3, 3, 3); 
}
.paragraph--buttonLeft{
   display: flex;
   font-family: 'BrownStd', Helvetica, Arial, sans-serif;
   font-size: 1em !important;
   background-color:rgb(12, 11, 11);
   color: rgb(252, 247, 247);
   width: 250px;
   margin-top: 220px;
   margin-left: 50px;
   z-index:999;
   position:relative;
   overflow: hidden;
   height: 60px;
   text-align:center;
   padding: 6px 6px 0px 10px;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
}
.paragraph--buttonRight{
   display: flex;
   font-family: 'BrownStd', Helvetica, Arial, sans-serif;
   font-size: 1em !important;
   background-color:rgb(12, 11, 11);
   color: rgb(252, 247, 247);
   width: 200px;
   margin-top: 325px;
   margin-left: -80px;
   z-index:999;
   position:relative;
   overflow: hidden;
   height: 60px;
   text-align:center;
   padding: 6px 6px 0px 10px;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
}
.paragraph--fundacion-line {
   border-bottom: 1px solid rgb(252, 13, 13);
   color: rgb(252, 247, 247);
   width: 100px;
   margin-top:0px;
   
 }
 .paragraph--fundacion-title-0 {
   font-family: 'Helvetica';
   font-size: 1em !important;
   font-weight: bold;
   margin-top:0px;
   width: 300px;
   line-height : 20px;
   margin-left:0px;
 }
 .paragraph--fundacion-title-1{

   font-size: 1em !important;
   margin-top:25px;
   width: 200px;
   line-height : 20px;
   margin-left:-60px;
 }
 .paragraph--fundacion-title-2{
   font-family: 'BrownStd';
   font-size: 3.5em !important;
   font-weight: bold;
   margin-top:-5px;
   line-height : 50px;
 }
 .paragraph--fundacion-title-3{
   font-family: 'BrownStd';
   font-size: 2.5em !important;
   font-weight: bold;
   margin-top:-40px;
   line-height : 25px;
   margin-left:0px;
 }
 .paragraph--fundacion-title-4{
   font-family: 'BrownStd';
   font-size: 1em !important;
   margin-top:-40px;
   line-height :20px;
   width: 200px;

 }
 .paragraph--fundacion-title-5{
   font-size: 1em !important;
   margin-top:25px;
   line-height :20px;
   width: 200px;
   margin-left:90px;

 }
 .paragraph--fundacion-title-6{
   font-family: 'BrownStd';
   font-size: 2.5em !important;
   font-weight: bold;
   margin-top:-20px;
   line-height : 25px;
   margin-left:20px;
 }
 .paragraph--fundacion-title-7{
   font-family: 'BrownStd';
   font-size: 2.5em !important;
   font-weight: bold;
   margin-top:-20px;
   line-height : 25px;
   margin-left:190px;
   width: 130px;
 }
 .paragraph--fundacion-title-9{
   font-family: 'BrownStd';
   align-items: center;
   font-size: 1em !important;
   font-weight: bold;
   margin-top:-220px;
   line-height : 60px;
   width: 230px;
   display: flex;
   border: 1px solid rgb(0, 0, 0);
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   cursor: pointer;
    
 }
 .paragraph--fundacion-title-9:hover{
   font-family: 'BrownStd';
   color: rgb(251, 251, 251);
   background-color: #000;
   transition: .3s;
   cursor: pointer;
 }
 .paragraph--fundacion-title-8{

   font-size: 1em !important;
   margin-top:25px;
   width: 200px;
   line-height : 20px;
   margin-left:160px;
 }
 .paragraph--maquillador {
   font-family: 'BrownStd';
   align-items: center;
   font-size: 1.3em !important;
   font-weight: bold;
   width: 400px;
    
 }
 