.flexRow--button__whatsapp {
    position:fixed;

    bottom:40px;
    left:600px;
    background-color:transparent;
    color:rgb(25, 197, 91);
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
:global(.vtex-button){
    color:rgb(179, 167, 167);
    background:rgb(255, 254, 254);
    text-size-adjust: 10%;
    background-color:transparent;
    position:relative;
}
.flexColChild--imagebagraund{
    background-color:transparent;
    background-repeat:no-repeat;

}
.flexColChild--imageDualBanner{
    width: 100%;
    position:absolute; z-index:0;
}
.flexRowContent--catalogo_grid{
    position:absolute; z-index:99;
    width: 50%; 
    left:450px;
    overflow: hidden;
}
.imageElement--imageFundacion{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border: 8;
    margin:25px 25px 25px 25px;

}
.flexRowContent--rowFundacion{
    background-color:rgb(246, 248, 245);
    margin:20px 200px 40px 200px;
}
.flexRowContent--rowFundacion-2{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: -4px;
    margin-left: -210px;
}
.flexRowContent--rowFundacion-3{

    margin:0px 0px 0px 5px;
    left:4px;
}
.flexRowContent--rowFundacion-1{
    align-items: center;
    font-size: 0px;
    padding: 0;
    margin: 0;
    left:4px;
    width: 60%;
    display: flex;
    flex-direction: column;
}




