.paragraph--section--title{
    color: rgb(238, 15, 15);
    font-size: 1.5em;
}
.listItem--home__list--1{
font-style:italic;
}
.listItem--home__list--1:nth-child(n){
    background-color: rgba(236, 202, 10, 0.582);
    color:aliceblue;
}
.listItem--home__list--1:nth-child(2n){
    background-color: rgb(47, 11, 179);
    color:aliceblue;
}
.listItem--home__list--1:nth-child(3n){
    background-color: brown;
    color:aliceblue;
}
.listItem--home__list--2:nth-child(even){
    background-color: rgba(236, 202, 10, 0.582);
    color:aliceblue;
}
.listItem--home__list--2:nth-child(odd){
    background-color: rgb(47, 11, 179);
    color:aliceblue;
}