.flexRow--button__whatsapp {
    position:fixed;

    bottom:40px;
    left:600px;
    background-color:transparent;
    color:rgb(25, 197, 91);
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
:global(.vtex-button){
    color:rgb(179, 167, 167);
    background:rgb(255, 254, 254);
    text-size-adjust: 10%;
    background-color:transparent;
    position:relative;
}


