.container--footerServices,
.paragraph--footerMenuTitle {
  color: white;
  font-size: 14px;
  height: 20px;
  width:auto;
}
.container--footerServices {
  padding: 10px 5px;
  justify-content: center;
}
.container--footerSubMenuTitle{
  color: white;
  justify-content: left;
  justify-items: left;
  align-items: left;
  align-content: left;
  font-size: 14px;
  font-family: "brownstd";
  font-size: 0.7em !important;
  width: 420px;
  margin-right: 20px;
  height: 20px;
}
.container--footerNuestraMarca{
  color: rgb(252, 248, 248);
  font-family: "brownstd";
  font-size: 0.7em !important;
  min-width: 100px !important;
  height: 20px;
}