
/*Estilos Generales*/
.wrapper--header__title_btn {
   position: absolute;
	background:#e67e22;
	color:rgb(245, 238, 238);
	display:inline-block;
	font-size:1.25em;
   margin: 0 5px 45px 0;
   padding-top:0px;
	text-align:center;
	width:180px;
   height: 50px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
   cursor: pointer;
   border-radius: 5px;

}

/*Tamaños*/
.wrapper--header__title_btn.medium {
	width:350px;
}


.wrapper--header__title_btn.large {
	width:450px;
}


.wrapper--header__title_btn.radius {
	border-radius:50px;
}

/*Efectos, Hover*/
.wrapper--header__title_btn:hover {
	box-shadow:0px 0px 0px;
   background:#ad8460;
}