
.flexCol--col-brand1 {
  background-color: #db3b30;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flexCol--col-brand2 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.flexCol--col-brand3 {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.flexRowContent--top-header-mobile {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: row !important;
}
.flexRowContent--main-header-desktop0{
  width:38px;
  height:38px;
  flex-shrink:0;
  display:inline-block;
  margin-right:5px;
  border-radius:50%;
  align-items: center;
  background-size:cover;
  background-position-x: center;
  background-position-y: bottom 10px;
  background-repeat:no-repeat;
  background-color:#faf6f6;
}
.flexRowContent--top-header-mobile2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: row !important;
  width: 100% !important;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flexRowContent--top-header-mobile6 {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  align-content: center;
  flex-direction: row !important;
  width: 100% !important;
}

.flexRowContent--header-rigth {
  margin-left: 100px;
}
