.paragraph--text1 {
  font-family: "brownstd";
  font-size: 0.7em !important;
  color: #ffffff;
}
.paragraph--text2 {
  font-family: "brownstd";
  font-size: 0.7em !important;
  color: black;
}

.paragraph--black {
  font-family: "brownstd";
  font-size: 11px !important;
  color: #ffffff;
  font-weight: 400;
}

.container--black {
  min-width: 100px !important;
  margin: 0 1px;
  padding: 3px 3px;
  border-radius: 12px;
  height: 24px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: black;
}
.container--text-header {
  height: 24px;
}
.paragraph--text-header {
  font-family: "brownstd";
  font-size: 0.7em !important;
  color: black;
  width: 220px;
  margin-right: 20px;
}
